# Archivos que no queremos que se actualicen para los demás
ignore_*

# Estos archivos se generan automáticamente por wxDev-C++
*.layout
Makefile.win

# Archivos que genera Ubuntu
*~

# Archivos objeto intermedios
*.o

# Archivos que genera la ejecución del programa
stdout.txt
stderr.txt

# Archivos generados por Visual C++ (Menudos spammers, por cierto)
*.obj
*.tlog
*.lastbuildstate
*.log
*.unsuccessfulbuild
*.idb
*.pdb
*.opensdf
*.sdf
*.sln
*.suo
*.filters
*.user
